# Python bytecode
__pycache__/
*.py[cod]

# Environments
venv/
env/
*.env

# VSCode settings
.vscode/

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/

# Package distribution
dist/
build/
*.egg-info/
